(
    dependencies: {
        "foo": (
            source: (
                git_repo: "https://github.com/torkleyy/async-rust-parser",
                branch: "master",
            ),
        ),
        "bar": (
            source: (
                git_repo:  "https://github.com/torkleyy/sortnbackup2",
                tag: "1.3.0",
            ),
        ),
    }
)