(
    dependencies: {
        "foo": (
            git_repo: "https://github.com/torkleyy/async-rust-parser",
            branch: "master",
        ),
        "bar": (
            git_repo:  "https://github.com/torkleyy/sortnbackup",
            tag: "1.3.0",
        ),
    }
)